:root {
    /* Default Grey */
    --dg50: #FCFDFF;
    --dg100: #F7F9FD;
    --dg150: #EAEEF1;
    --dg200: #E8EAED;
    --dg250: #E1E3E4;
    --dg300: #D9DADB;
    --dg350: #CECECE;
    --dg400: #C4C4C4;
    --dg450: #B2B2B2;
    --dg500: #A2A2A4;
    --dg550: #95979B;
    --dg600: #8C8D90;
    --dg650: #7E7F81;
    --dg700: #6F7072;
    --dg750: #646464;
    --dg800: #5A5A5A;
    --dg850: #4D4D4D;
    --dg900: #3E4444;

    /* Grey Blue */
    --gb50: #F9FBFE;
    --gb100: #F5F9FF;
    --gb150: #E9EFFB;
    --gb200: #DFE7F5;
    --gb250: #CFD8E9;
    --gb300: #BBC5D8;
    --gb350: #ACB6C9;
    --gb400: #9AA5B9;
    --gb450: #8E9AB0;
    --gb500: #828EA4;
    --gb550: #677080;
    --gb600: #565F70;
    --gb650: #4B5464;
    --gb700: #414A5A;
    --gb750: #3A4354;
    --gb800: #333C4B;
    --gb850: #2C3340;
    --gb900: #262C38;

    /* Blue */
    --b50: #FAFCFF;
    --b100: #EFF7FF;
    --b150: #E3F2FF;
    --b200: #D4E9FF;
    --b250: #BFDDFF;
    --b300: #ABD2FF;
    --b350: #97C0FE;
    --b400: #88B0FF;
    --b450: #73A2FF;
    --b500: #6198FE;
    --b550: #518EFF;
    --b600: #3F82FF;
    --b650: #3177FA;
    --b700: #276EF1;
    --b750: #1F62DC;
    --b800: #1959CE;
    --b850: #1953BC;
    --b900: #144BAE;

      /* Blue Green */
    --bg50: #e0f2f1;
    --bg100: #b2dfdb;
    --bg200: #80cbc4;
    --bg300: #4db6ac;
    --bg400: #26a69a;
    --bg500: #009688;
    --bg600: #00897b;
    --bg700: #00796b;
    --bg800: #00695c;
    --bg900: #004d40;
    --bga100: #a7ffeb;
    --bga200: #64ffda;
    --bga400: #1de9b6;
    --bga700: #00bfa5;

    /* Light Blue */
    --lb50: #FAFDFE;
    --lb100: #F4FDFF;
    --lb150: #EBFAFF;
    --lb200: #E4F7FF;
    --lb250: #DBF4FF;
    --lb300: #CDEDFF;
    --lb350: #BAE6FF;
    --lb400: #A5DEFF;
    --lb450: #8CD3FB;
    --lb500: #75C7F4;
    --lb550: #64BDF0;
    --lb600: #58B4E8;
    --lb650: #45A7E0;
    --lb700: #359DD9;
    --lb750: #298FDA;
    --lb800: #1881CD;
    --lb850: #0174C7;
    --lb900: #016CB9;

    /* Red */
    --r50: #FFF7F6;
    --r100: #FFEEEE;
    --r150: #FFE4E4;
    --r200: #FFD6D6;
    --r250: #FFC9C9;
    --r300: #FFB5B5;
    --r350: #FB9696;
    --r400: #F18484;
    --r450: #EA7272;
    --r500: #E86262;
    --r550: #DA4A4A;
    --r600: #C93535;
    --r650: #B82727;
    --r700: #A81F1F;
    --r750: #9B2020;
    --r800: #8B1C1C;
    --r850: #7B1010;
    --r900: #6C0D0D;

    /* Green */
    --g50: #E8FFF0;
    --g100: #DAFFE7;
    --g150: #C3FFD8;
    --g200: #A5FFC4;
    --g250: #8BF8B0;
    --g300: #71EE9C;
    --g350: #5AEC8C;
    --g400: #48E37D;
    --g450: #3ED973;
    --g500: #3ACC6C;
    --g550: #2EC361;
    --g600: #26AF55;
    --g650: #149C43;
    --g700: #0E8737;
    --g750: #08722C;
    --g800: #036123;
    --g850: #02511D;
    --g900: #014016;

    /* Yellow */
    --y50: #FFFBF2;
    --y100: #FFF7E9;
    --y150: #FFF2D9;
    --y200: #FFEAC5;
    --y250: #FFE1A9;
    --y300: #FFD78C;
    --y350: #FBC86C;
    --y400: #48E37D;
    --y450: #F6B234;
    --y500: #F1AA27;
    --y550: #E5A224;
    --y600: #DC981B;
    --y650: #D48F10;
    --y700: #CC8606;
    --y750: #C38003;
    --y800: #B67600;
    --y850: #A56B00;
    --y900: #966100;

    /* Purple */
    --p50: #FBF8FF;
    --p100: #F8F2FF;
    --p150: #EDDEFF;
    --p200: #E8D7FF;
    --p250: #E3CDFF;
    --p300: #DABDFF;
    --p350: #C2A0EE;
    --p400: #BB91F0;
    --p450: #B57BFF;
    --p500: #AD7DEA;
    --p550: #A071DA;
    --p600: #986AD1;
    --p650: #885CBF;
    --p700: #7A54A9;
    --p750: #67478E;
    --p800: #5B3D80;
    --p850: #514377;
    --p900: #46386F;

    /* Light Green */
    --lg300: #E1FFDD;
    --lg350: #CEF7C9;
    --lg400: #B9EEB2;
    --lg450: #9EDC96;
    --lg500: #81CD78;
    --lg550: #6FC365;
    --lg600: #64B85A;
    --lg650: #58AD4E;
    --lg700: #4FA446;
    --lg750: #4D9F43;
    --lg800: #3C8E32;
    --lg850: #318128;
    --lg900: #28741F;

    /* Green Gray */
    --gg50: #EEF3F3;
    --gg100: #E7EDED;
    --gg150: #DBE3E3;
    --gg200: #D2DCDC;
    --gg250: #C7D2D2;
    --gg300: #B8C6C6;
    --gg350: #B5C1C1;
    --gg400: #A4B1B1;
    --gg450: #94A0A0;
    --gg500: #778989;
    --gg550: #5B6969;
    --gg600: #3C4848;
    --gg650: #2F3B3B;

    --white: #FFFFFF;
    --black: #000000;
}